__pycache__/
*.pyc
*.o
CMakeFiles/*
CMakeCache.txt
Makefile
cmake_install.cmake
/output.sas
/sas_plan
/sas_plan.*
/builds/
/experiments/issue*/.venv/
/experiments/issue*/data/
/misc/.tox/
/misc/autodoc/downward-xmlrpc.secret
