/**/*.pyc
/**/output.sas
/**/sas_plan*
/experiments/issue[0-9]*/data/
/experiments/issue[0-9]*/.venv/
/experiments/issue[0-9]*/*-microbenchmark/.obj/
/experiments/issue[0-9]*/*-microbenchmark/benchmark
/experiments/issue[0-9]*/*-microbenchmark/Makefile.depend
/misc/autodoc/downward-xmlrpc.secret
/misc/.tox/
/builds/
/src/CMakeLists.txt.user
