---
name: macOS

on:
  push:
    branches: [main, issue*, release-*]
  pull_request:
    branches: [main, issue*, release-*]

jobs:
  test:
    name: Compile and test planner
    timeout-minutes: 60
    runs-on: ${{ matrix.version.macos }}
    strategy:
      matrix:
        version:
          - {macos: macos-11, python: '3.8'}
          - {macos: macos-12, python: '3.10'}
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version.python }}

      - name: Compile planner
        run: |
          export CXXFLAGS="-Werror" # Treat compilation warnings as errors.
          ./build.py
          ./build.py --debug

      - name: Install tox
        run: |
          pip3 install tox

      - name: Install VAL
        run: |
          brew install gnu-sed
          git clone https://github.com/KCL-Planning/VAL.git
          cd VAL
          git checkout a5565396007eee73ac36527fbf904142b3077c74
          make clean  # Remove old build artifacts and binaries.
          gsed -i 's/-Werror //g' Makefile  # Ignore warnings.
          make -j2
          mv validate ../
          cd ../
          rm -rf VAL

      - name: Run driver, translator and search tests
        run: |
          export PATH="$(pwd):$PATH" # Add VAL to path.
          cd misc
          tox -e driver,translator,search

...
